<div class="container" ng-if="project.data">
    <ul class="list-inline">
        <li>
            <h4 class="text-capitalize">{{project.data.name}}</h4>
        </li>
        <li>
            <button class="btn btn-primary" ng-click="project.addTicket()">Add ticket</button>
        </li>
    </ul>
    <hr>
    <div class="row">
        <div data-ng-class="project.data.statuses.length | columnClass : 'sm'" class="text-center" data-ng-repeat="status in project.data.statuses">
            <h3>{{status}}</h3>
        </div>
    </div>
    <div class="row">
        <div data-ng-class="project.data.statuses.length | columnClass : 'sm'" data-ng-repeat="status in project.data.statuses">
            <ul class="list-group" dnd-list="project.data.tickets" dnd-drop="project.moveTicket(item, status)">
                <li class="list-group-item panel" data-ng-class="ticket.priority | priorityClass"
                    ng-repeat="ticket in project.data.tickets | filter:{status:status}"
                    dnd-draggable="ticket"
                    dnd-effect-allowed="move"
                    dnd-selected="project.selected = ticket"
                    >
                <div class="panel-heading">
                    {{$index}}<h4 class="panel-title">{{ticket.name}}</h4>
                </div>
                <div class="panel-body">
                    <span>{{ticket.description}}</span>
                </div>
                <div class="panel-footer text-right">
                    <span>{{ticket.assignee.firstName + ' ' + ticket.assignee.lastName}}</span>
                </div>
                </li>
            </ul>
        </div>
    </div>
</div>