<div class="container">
    <form data-ng-controller="authController as auth" class="col-sm-6 col-sm-offset-3">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" data-ng-model="auth.signInModel.username" placeholder="email"
                   id="email"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" data-ng-model="auth.signInModel.password" placeholder="password"
                   id="password"/>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" data-ng-model="auth.signInModel.rememberMe" checked="false"/>Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary" data-ng-click="auth.signIn(auth.signInModel)">Login</button>
    </form>
</div>